<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex justify-content-center">
            <a class="navbar-brand font-bold" href="#">WELCOME TO THE HOME PAGE</a>
        </div>
    </nav>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h2 class="card-title">HELLO <%= username %>!</h2>
                <p class="card-text">You are logged in.</p>
                <a href="/user/logout" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>